Data Structures and Algorithims

In [2]:
# string
x = 'frog'
print(x[3])

# list
x = ['pig', 'cow', 'horse']
print(x[1])

# tuple
x = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(x[0])

g
cow
Kevin

slicing - slice out substrings, sublists, subtuples using indexes
[start : end+1 : step]
[start is inclusive, end is non-inclusive]

In [4]:
# slicing
x = 'computer'
print(x[1:6])
print(x[1:6:2]) # step of 2
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3])
print(x[:-2])

omput
opt
puter
compu
r
t
comput

adding / oconcatenating - combine 2 sequences of the same type by using +

In [5]:
# string
x = 'horse' + 'shoe'
print(x)

# list
y = ['pig', 'cow'] + ['horse']
print(y)

# tuple
z = ('Kevin', "Niklas", 'Jenny') + ('Craig',) # have to include comma or is just a string in parantheses
print(z)

horseshoe
['pig', 'cow', 'horse']
('Kevin', 'Niklas', 'Jenny', 'Craig')

multiplying a sequence using *

In [7]:
# string
x = 'bug' * 3
print(x)

# list
y = [8, 5] * 3
print(y)

# tuple
z = (2, 4) * 3
print(z)

bugbugbug
[8, 5, 8, 5, 8, 5]
(2, 4, 2, 4, 2, 4)

checking membership

In [8]:
# string
x = 'bug'
print('u' in x)

# list
y = ['pig', 'cow', 'horse']
print('cow' not in y)

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print('Niklas' in z)

True
False
True

iterating through the items in a sequence

In [9]:
# item
x = [7, 8, 9]
for item in x:
  print(item)

# index and item
y = [7, 8, 3]
for index, item in enumerate(y):
  print(index, item)

7
8
9
0 7
1 8
2 3

min / max / len

In [10]:
# string
x = 'bug'
print(min(x))
print(max(x))
print(len(x))

# list
y = ['pig', 'cow', 'horse']
print(min(y))
print(max(y))
print(len(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(min(z))
print(max(z))
print(len(z))

b
u
3
cow
pig
3
Craig
Niklas
4

sum - find the sum of items in a sequence, entire sequence has to be numeric

In [11]:
# string -> error
# x = [5, 7, 'bug']
# print(sum(x)) -> generates an error

# list
y = [2, 5, 8, 12]
print(sum(y))
print(sum(y[-2:]))

# tuple
z = (50, 4, 7, 19)
print(sum(z))

27
20
80

sorting - returns a new list of items in sorted order
does not change the original list

In [12]:
# string
x = 'bug'
print(sorted(x))

# list
y = ['pig', 'cow', 'horse']
print(sorted(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(sorted(z))

['b', 'g', 'u']
['cow', 'horse', 'pig']
['Craig', 'Jenny', 'Kevin', 'Niklas']

sorting - sort by second leter

Add a parameter and a lamabda function to return the second character

(the word key here is a defined parameter name, k is just an arbitrary variable name).

In [13]:
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(sorted(z, key=lambda k: k[1]))

['Kevin', 'Jenny', 'Niklas', 'Craig']

count(item) - returns count of an item

In [14]:
# string
x = 'hippo'
print(x.count('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.count('cow'))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(z.count('Kevin'))

2
2
1

index(item) -  returns the index of the first occurence of an item

In [16]:
# string
x = 'hippo'
print(x.index('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.index('cow'))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(z.index('Jenny'))

2
1
2

unpacking - unpack the n items of oa sequence into n variables

In [17]:
x = ['pig', 'cow', 'horse']
a, b, c = x
print(a, b, c)

pig cow horse

### **Lists**

- general purpose
- most widely using data structure
- grow and shrink size as needed
- sequence type
- sortable

*constructors* - creating a new list

In [19]:
x = list()
y = ['a', 25, 'dog', 8.43]
tuplel = (10, 20)
z = list(tuplel)

# list comprehension
a = [m for m in range(8)]
print(a)
b = [i**2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

delete and append - delete a list or an item in a list, append an item to the tail of a list

In [21]:
x = [5, 3, 8, 6]
del(x[1])
print(x)
del(x)

x = [5, 3, 8, 6]
x.append(7)
print(x)

[5, 8, 6]
[5, 3, 8, 6, 7]

extend a sequence to a list, combining two seperate lists into one list

In [23]:
x = [5, 3, 8, 6]
y = [12, 13]

x.extend(y)
print(x)

[5, 3, 8, 6, 12, 13]

insert - insert an item at a given index

In [25]:
x = [5, 3, 8, 6]
x.insert(1,7) # insert 7 at the 1th index
print(x)
x.insert(1, ['a', 'm'])
print(x)

[5, 7, 3, 8, 6]
[5, ['a', 'm'], 7, 3, 8, 6]

pop - pops last item off list and returns item

In [27]:
x = [5, 3, 8, 6]
x.pop() #pop off the 6
print(x)
print(x.pop())

[5, 3, 8]
8

remove - remove the first instance of an item

In [28]:
x = [5, 3, 8, 6, 3]
x.remove(3)
print(x)

[5, 8, 6, 3]

reverse - reverse the order of the list.  it is an in-place sort, meaning it changes the original list

In [29]:
x = [5, 3, 8, 6]
x.reverse()
print(x)

[6, 8, 3, 5]

sort - sort the list in place

Note:

sorted(x) returns a new sorted list without changing the original list x

x.sort() puts the items of x in sorted order (sorts in place)

In [30]:
x = [5, 3, 8, 6]

x.sort()
print(x)

[3, 5, 6, 8]

reverse sort - sort items descending
use reverse=True parameter to the sort function

In [31]:
x = [5, 3, 8, 6]

x.sort(reverse=True)
print(x)

[8, 6, 5, 3]

Tuples

- immutable (can't add / change)
- useful for fixed data
- faster than lists
- sequence type

*constructors* - creating new tuples

In [32]:
x = ()
x = (1, 2, 3)
x = 1, 2, 3
x = 2, # the comma tells python its a tuple
print(x, type(x))

(2,) <class 'tuple'>

tuples are immutable, but member objects may be mutable

In [33]:
x = (1, 2, 3)
# del(x[1]) -> fails
# x[1] = 8 -> fails
print(x)

y = ([1, 2], 3) # a tuple where the first item is a list
del(y[0][1]) # delete the two
print(y) # the list within the tuple is mutable

y += (4, )
print(y)

(1, 2, 3)
([1], 3)
([1], 3, 4)

Sets

- store non-duplicate items
- very fast access vs lists
-math set ops (union, intersect)
- sets are unordered

*constructors* - creating new sets

In [35]:
x = {3, 5, 3, 5}
print(x)

y = set()
print(y)

list1 = [2, 3, 4]
z = set(list1)
print(z)

{3, 5}
set()
{2, 3, 4}

set operations

In [37]:
x = {3, 8, 5}
print(x)
x.add(7)

# remove first instance of 3
x.remove(3)
print(x)

# length of set x
print(len(x))

# check membership of 5 in x
print(5 in x)

# pop random item from set x
print(x.pop(), x)

# delete all items from set x
x.clear()
print(x)

{8, 3, 5}
{8, 5, 7}
3
True
8 {5, 7}
set()

##Mathematical set operations:


intersection (AND): set1 & set2

Union (OR) set1 | set2

symmetric difference (XOR): set1 ^ set2 difference (in set 1 but not set2): set1-set2

subset (set2 contains set1): set1 <= set2

superset (set1 contains set2): set1 >= set2

In [38]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)
print(s1 - s2)
print(s1 <= s2)
print(s1 >= s2)

{3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2}
False
False

#Dictionaries (dict)

- Key/Value pairs

- Associative array, like java hash map

- Dicts are unordered (can't be sorted)

In [1]:
# three ways to construct the exact same dictionary

x = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
print(x)

x = dict([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])
print(x)

x = dict(pork = 25.3, beef=33.8, chicken =22.7)
print(x)

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}

Dict operations

In [4]:
x['shrimp'] = 38.2
print(x)

# delete an item
del(x['shrimp'])
print(x)

# get the length of x
print(len(x))

# delete all items from dict x
x.clear()
print(x)

# delete dict x
del(x)

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7, 'shrimp': 38.2}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
3
{}

accessing keys and values within a dict

In [5]:
y = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
print(y.keys())
print(y.values())
print(y.items())

# check membership in y_keys
print('beef' in y)

# check membership in y_values
print('clams' in y.values())

dict_keys(['pork', 'beef', 'chicken'])
dict_values([25.3, 33.8, 22.7])
dict_items([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])
True
False