In [63]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [64]:
import pyspark

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv('Book1.csv')

In [67]:
df

       Name  Age  Experience
0  Jonathan   15          23
1     Krish   12          24
2   Sudhar    19          29

In [68]:
from pyspark.sql import SparkSession

In [69]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [70]:
spark

In [71]:
df_pyspark = spark.read.csv('Book1.csv')

In [72]:
df_pyspark.show()

+--------+---+----------+
|     _c0|_c1|       _c2|
+--------+---+----------+
|    Name|Age|Experience|
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+

In [73]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [74]:
df_pyspark = spark.read.option('header', 'true').csv('Book1.csv')

An issue I just ran into with the above line ^^

if you add .show() to the end of the above line it turns the type into NoneType which does not allow you to do further operations on the df_pyspark

In [75]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [76]:
df_pyspark.printSchema

- PySpark DataFrame
- Reading the Data Set
- Checking the Datatypes of the column (Schema)
- Selecting Columns and Indexing
- Check Describe option similar to Pandas
- Adding columns
- Dropping columns

In [77]:
from pyspark.sql import SparkSession

In [78]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [79]:
spark

In [80]:
## read the data set

df = spark.read.option('header', 'true').csv('Book1.csv',inferSchema=True)

In [84]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

another way to open a csv (with inferred schema)

printSchema shows datatypes of column

In [85]:
df_pyspark=spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+

In [86]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [87]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

get column names

In [88]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [89]:
df_pyspark.head(3)

[Row(Name='Jonathan', Age=15, Experience=23),
 Row(Name='Krish', Age=12, Experience=24),
 Row(Name='Sudhar ', Age=19, Experience=29)]

In [90]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+

In [92]:
df_pyspark.select('Name').show() #how to get a specific column

+--------+
|    Name|
+--------+
|Jonathan|
|   Krish|
| Sudhar |
+--------+

In [93]:
df_pyspark.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Jonathan|        23|
|   Krish|        24|
| Sudhar |        29|
+--------+----------+

In [94]:
df_pyspark['Name']

Column<'Name'>

In [101]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [102]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [103]:
df_pyspark.describe().show()

+-------+--------+------------------+------------------+
|summary|    Name|               Age|        Experience|
+-------+--------+------------------+------------------+
|  count|       3|                 3|                 3|
|   mean|    null|15.333333333333334|25.333333333333332|
| stddev|    null|3.5118845842842465|3.2145502536643185|
|    min|Jonathan|                12|                23|
|    max| Sudhar |                19|                29|
+-------+--------+------------------+------------------+

In [114]:
### adding columns in dataframe

df_pyspark = df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)

In [115]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|Jonathan| 15|        23|                     25|
|   Krish| 12|        24|                     26|
| Sudhar | 19|        29|                     31|
+--------+---+----------+-----------------------+

In [116]:
### drop the columns

df_pyspark = df_pyspark.drop('Experience After 2 year')

In [118]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+

In [121]:
## Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Jonathan| 15|        23|
|   Krish| 12|        24|
| Sudhar | 19|        29|
+--------+---+----------+